#top{
    min-height: 80px;
    border: 5px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#Rubrik{
    border: 5px solid black;
    background-color: aqua;
    color: black;
    padding-left: 60px;
    padding-right: 60px;
}
a{
    font-family: monospace;
    font-size: 20 px;
}
#mitten{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
#v{
    border: 5px solid black;
    background-color: yellow;
}
#h{
    border: 5px solid black;
    background-color: pink;
}